.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin-inline: auto;
  height: 100vh;
  max-height: 150vh;
  gap: 1rem;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 275px;
}

.selected-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 2%;
  line-height: 1.2;
  letter-spacing: 1px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  padding-top: 20px;
}

.event-text {
  max-width: 90%;
}

.selected-event img {
  max-width: 90%;
  max-height: 275px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.event-image {
  border: 2px solid #fff;
  border-radius: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score,
.life {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.min-max {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 370px;
}

.answer-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 0px;
}

.green {
  color: #00ff00;
  border-color: #00ff00;
}

.red {
  color: #ff0000;
}

.range {
  margin-top: 0.5rem;
  width: 350px;
  -webkit-appearance: none;
  height: 4px;
  border-radius: 5px;
  background: #3a3a3a;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-bottom: 1.5rem;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background: #00ff00;
  cursor: pointer;
}

.range::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #00ff00;
  cursor: pointer;
}

.submit-button {
  margin-top: 1rem;
  background-color: #00ff00;
  color: #000;
  font-size: 1.2rem;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
}

.submit-button:hover {
  background-color: #00cc00;
}

.guess-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  padding: 12px;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.hidden {
  display: none;
  transition: display 1s ease-in-out;
}

.height-max {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 380px;
  transition: height 1s ease-in-out;
}

.boxes-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 100%;
  margin-bottom: 10px;
  font-family: "Press Start 2P", cursive;
  font-size: 13px;
}

.box {
  border: 1px solid #fff;
  padding: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 1rem;
  font-size: 25px;
}

.modal-content p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.modal-content button {
  background-color: #00ff00;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
}

.modal-content button:hover {
  background-color: #00cc00;
}

/* Retro Game-themed Colors */
body {
  background-color: #000;
}

.center-container {
  background-color: #222;
  color: #fff;
}

.selected-event {
  color: #fff;
}

.submit-button {
  background-color: #f44336;
  color: #fff;
}

.submit-button:hover {
  background-color: #d32f2f;
}

.green {
  color: #00e676;
  border-color: #00e676;
}

.red {
  color: #ff1744;
}

.range {
  background: #3a3a3a;
}

.range::-webkit-slider-thumb {
  background: #00e676;
}

.range::-moz-range-thumb {
  background: #00e676;
}

.box {
  border: 1px solid #fff;
  padding: 10px;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  .center-container {
    width: 500px;
    padding-inline: auto;
  }

  .selected-event {
    margin-bottom: 1rem;
  }


  .range {
    width: 350px;
  }
}

@media screen and (max-width: 480px) {
  .center-container {
    width: 100%;
    margin: 0;
  }

  .selected-event {
    margin-bottom: 0.5rem;
  }

  .score,
  .life {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .range {
    width: 350px;
    margin-bottom: 1.5rem;
  }

  .submit-button {
    font-size: 1rem;
  }

  .modal-content h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .modal-content p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .modal-content button {
    font-size: 0.9rem;
  }
}